importar a biblioteca pyodbc

In [ ]:
import pyodbc

string de conexão , nesse exemplo como é autenticação windows não tem que passar usuário e senha

In [ ]:
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0};'
                      'Server=(LocalDb)\MSSQLLocalDB;'
                      'Database=AdventureWorks;'
                      'Trusted_Connection=yes;')

select de teste

In [ ]:
cursor = conn.cursor()
cursor.execute('SELECT TOP (1) * FROM [AdventureWorks].[Production].[ProductCategory]')
for row in cursor:
    print(row)

From SQL to Pandas DataFrame

In [ ]:
import pandas as pd

Query: lembrar de deixar espaços entre as palavras

In [ ]:
sql_query = pd.read_sql_query(' '
                              ' SELECT '
                              ' TOP (1) '
                              ' [ProductCategoryID] '
                              ' ,[Name] '
                              ' ,[rowguid] '
                              ' ,[ModifiedDate] '
                              ' FROM [AdventureWorks].[Production].[ProductCategory] '
                              ,conn)

In [ ]:
print(sql_query)

In [ ]:
print(type(sql_query))